{{>menubar}}
<div class="div-main mt-2 lbl-gral" id="div-pp">
    <div class="">
        <label style="font-weight: bold" for="select-type">Seleccione Tipo de Actualización</label>
        <select class="caja-texto" name="select-type" id="select-type">
            <option value="group">Actualizacion Grupal</option>
            <option value="individual">Actualizacion Individual</option>
        </select>

    </div>
</div>
