{{>menubar}}
<div class="container p-4">
    <div class="row">
        {{#each data_sucursales}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <p class="m-2">{{sucursal_name}}</p>
                    <p class="m-2">{{team_name}}</p>
                    <p class="text-muted">
                        {{header_title1}}
                    </p>
                    <a class="btn btn-secondary" href="/admin/edit/{{header_id}}">
                        Editar
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>