<link rel="stylesheet" href="/css/style_admin.css">
{{>menubar}}
<div id="contenedor-altasucursal" class="container" style="width: 35vw; margin: 30px auto">
    <div class="card bg-light">
        <div class="card-header">
            <h5 class="lbl_black">Alta de Sucursal</h5>
        </div>
        <div class="card-body">
            <form name="frm-altasucursal" id="frm-altasucursal" method="POST" action="/admin/altasucursal">
                <div class="form-group">
                    <label class="lbl_black" for="sucursal_id">Codigo de Sucursal:</label>
                    <input type="text" class="form-control" id="sucursal_id" name="sucursal_id" /required autofocus>
                </div>
                <div class="form-group">
                    <label class="lbl_black" for="sucursal_name">Nombre de Sucursal:</label>
                    <input type="text" class="form-control" id="sucursal_name" name="sucursal_name" /required>
                </div>
                <div class="form-group">
                    <label class="lbl_black" for="team_id">Grupo de Sucursal:</label><button id="btn-agregargrupo" type="button" class="btnm">+</button>
                    <select class="form-control" name="team_id" id="team_id">
                        {{#each data_team}}
                            <option value="{{team_id}}">{{team_name}}</option>
                        {{/each}}
                    </select>
                    
                </div><br>  
                <button type="submit" class="btn btn-lg btn-block btn-warning" name="btn-aceptar" id="btn-aceptar">Aceptar</button>
            </form>
        </div>
    </div>
</div>
